spring:
  jpa:
    show-sql: ${COM_HC_DATABASE_SHOW_SQL:false}
    hibernate:
      ddl-auto: update
  messages:
    basename: messages
    encoding: UTF-8

  datasource:
    springboot:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: ${COM_SPRING_DATABASE_URL:jdbc:mysql://localhost:3307/springbootlib}
      username: ${COM_SPRING_DATABASE_USERNAME:root}
      password: ${COM_SPRING_DATABASE_PASSWORD:root}
    hikari:
      connection-timeout: 600000
  redis:
    host: ${COM_SPRING_REDIS_HOST:localhost}
    port: ${COM_SPRING_REDIS_PORT:6379}
    password: ${COM_SPRING_REDIS_PASSWORD:}
    database: ${COM_SPRING_REDIS_DATABASE:5}
  artemis:
    embedded:
      server-id:

  output:
    ansi:
      enabled=ALWAYS:

  # [NOTIFY] - CONFIG
  # mail
  mail:
    host: ${COM_SPRING_MAIL_HOST:smtp.gmail.com}
    port: ${COM_SPRING_MAIL_PORT:587}
    username: ${COM_SPRING_MAIL_USERNAME:}
    password: ${COM_SPRING_MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  #        debug: true

  # Config zalo and sms - Tích hợp với ZNS - Tùy bên mà key và phương thức integrate khác nhau
  zns:
    website-url: ${COM_SPRING_NOTIFICATION_ZNS_WEBSITE_URL:}
    brand-name: ${COM_SPRING_NOTIFICATION_ZNS_BRAND_NAME:}
    username: ${COM_SPRING_NOTIFICATION_ZNS_USERNAME:}
    password: ${COM_SPRING_NOTIFICATION_ZNS_PASSWORD:}
    get-balance-endpoint: ${COM_SPRING_NOTIFICATION_ZNS_GET_BALANCE_ENDPOINT:}
    zns-endpoint: ${COM_SPRING_NOTIFICATION_ZNS_ENDPOINT:}
    from-zns: ${COM_SPRING_NOTIFICATION_ZNS_FROM_ZNS:}
    otp-template-id: ${COM_SPRING_NOTIFICATION_ZNS_TEMPLATE_ID:}
    # 365191
    # confirm-order-template-id: ${CCOM_SPRING_PAYMENT_ZNS_CONFIRM_ORDER_TEMPLATE_ID:}
  sms:
    username: ${COM_SPRING_NOTIFICATION_ZNS_USERNAME:}
    password: ${COM_SPRING_NOTIFICATION_ZNS_PASSWORD:}
    website-url: ${COM_SPRING_NOTIFICATION_ZNS_WEBSITE_URL:}
    brand-name: ${COM_SPRING_NOTIFICATION_ZNS_BRAND_NAME:}
    sms-endpoint: ${COM_SPRING_NOTIFICATION_SMS_ENDPOINT:}
    get-balance-endpoint: ${COM_SPRING_NOTIFICATION_ZNS_GET_BALANCE_ENDPOINT:}
    from-sms: ${COM_SPRING_NOTIFICATION_SMS_FROM:}